Repository DevCamp2Flame/FlameTalk_Server, pull requests merged in 2022-02, with the labels that each got.

#24 [#7] 파일 서버 API 구현
  file/.gitignore
  file/build.gradle
  file/gradle/wrapper/gradle-wrapper.jar
  file/gradle/wrapper/gradle-wrapper.properties
  file/gradlew
  file/gradlew.bat
  file/settings.gradle
  file/src/main/java/com/devcamp/flametalk/FileApplication.java
  file/src/main/java/com/devcamp/flametalk/controller/FileController.java
  file/src/main/java/com/devcamp/flametalk/domain/BaseTime.java
  file/src/main/java/com/devcamp/flametalk/domain/Chatroom.java
  file/src/main/java/com/devcamp/flametalk/domain/ChatroomRepository.java
  file/src/main/java/com/devcamp/flametalk/domain/File.java
  file/src/main/java/com/devcamp/flametalk/domain/FileRepository.java
  file/src/main/java/com/devcamp/flametalk/domain/FileResponseMessage.java
  file/src/main/java/com/devcamp/flametalk/dto/CommonResponse.java
  file/src/main/java/com/devcamp/flametalk/dto/FileDetailResponse.java
  file/src/main/java/com/devcamp/flametalk/dto/S3UploadedFile.java
  file/src/main/java/com/devcamp/flametalk/dto/SingleDataResponse.java
  file/src/main/java/com/devcamp/flametalk/error/ErrorCode.java
  file/src/main/java/com/devcamp/flametalk/error/ErrorResponse.java
  file/src/main/java/com/devcamp/flametalk/error/GlobalExceptionHandler.java
  file/src/main/java/com/devcamp/flametalk/error/exception/EntityNotFoundException.java
  file/src/main/java/com/devcamp/flametalk/service/FileService.java
  file/src/main/java/com/devcamp/flametalk/util/S3Util.java
  file/src/main/resources/application.yml
  file/src/test/java/com/devcamp/flametalk/FileApplicationTests.java
Labels: enhancement, file-server

#27 [#26] feat: File Create API response 변경
  file/src/main/java/com/devcamp/flametalk/controller/FileController.java
  file/src/main/java/com/devcamp/flametalk/service/FileService.java
Labels: file-server

#28 [#25] feat: 파일 url로 삭제하는 API
  file/src/main/java/com/devcamp/flametalk/controller/FileController.java
  file/src/main/java/com/devcamp/flametalk/domain/FileRepository.java
  file/src/main/java/com/devcamp/flametalk/service/FileService.java
Labels: enhancement, file-server

#33 [#30, #31] feat: 피드 및 오픈 프로필 API 구현
  membership/build.gradle
  membership/src/main/java/com/devcamp/flametalk/MembershipApplication.java
  membership/src/main/java/com/devcamp/flametalk/domain/feed/controller/FeedController.java
  membership/src/main/java/com/devcamp/flametalk/domain/feed/domain/Feed.java
  membership/src/main/java/com/devcamp/flametalk/domain/feed/domain/FeedRepository.java
  membership/src/main/java/com/devcamp/flametalk/domain/feed/domain/FeedResponse.java
  membership/src/main/java/com/devcamp/flametalk/domain/feed/dto/FeedDetailResponse.java
  membership/src/main/java/com/devcamp/flametalk/domain/feed/dto/FeedsResponse.java
  membership/src/main/java/com/devcamp/flametalk/domain/feed/service/FeedService.java
  membership/src/main/java/com/devcamp/flametalk/domain/openprofile/controller/OpenProfileController.java
  membership/src/main/java/com/devcamp/flametalk/domain/openprofile/domain/OpenProfile.java
  membership/src/main/java/com/devcamp/flametalk/domain/openprofile/domain/OpenProfileRepository.java
  membership/src/main/java/com/devcamp/flametalk/domain/openprofile/domain/OpenProfileResponse.java
  membership/src/main/java/com/devcamp/flametalk/domain/openprofile/dto/OpenProfileCreateRequest.java
  membership/src/main/java/com/devcamp/flametalk/domain/openprofile/dto/OpenProfileDetailResponse.java
  membership/src/main/java/com/devcamp/flametalk/domain/openprofile/dto/OpenProfileUpdateRequest.java
  membership/src/main/java/com/devcamp/flametalk/domain/openprofile/dto/OpenProfilesResponse.java
  membership/src/main/java/com/devcamp/flametalk/domain/openprofile/service/OpenProfileService.java
  membership/src/main/java/com/devcamp/flametalk/domain/profile/controller/ProfileController.java
  membership/src/main/java/com/devcamp/flametalk/domain/profile/domain/Profile.java
  membership/src/main/java/com/devcamp/flametalk/domain/profile/domain/ProfileRepository.java
  membership/src/main/java/com/devcamp/flametalk/domain/profile/domain/ProfileResponse.java
  membership/src/main/java/com/devcamp/flametalk/domain/profile/dto/ProfileDetailResponse.java
  membership/src/main/java/com/devcamp/flametalk/domain/profile/dto/ProfileRequest.java
  membership/src/main/java/com/devcamp/flametalk/domain/profile/dto/ProfileSimpleResponse.java
  membership/src/main/java/com/devcamp/flametalk/domain/profile/dto/ProfilesResponse.java
  membership/src/main/java/com/devcamp/flametalk/domain/profile/service/ProfileService.java
  membership/src/main/java/com/devcamp/flametalk/domain/user/domain/User.java
  membership/src/main/java/com/devcamp/flametalk/global/common/CommonResponse.java
  membership/src/main/java/com/devcamp/flametalk/global/common/SingleDataResponse.java
  membership/src/main/java/com/devcamp/flametalk/global/error/ErrorCode.java
  membership/src/main/java/com/devcamp/flametalk/global/error/ErrorResponse.java
  membership/src/main/java/com/devcamp/flametalk/global/error/GlobalExceptionHandler.java
  membership/src/main/java/com/devcamp/flametalk/global/error/exception/EntityNotFoundException.java
  membership/src/main/java/com/devcamp/flametalk/global/error/exception/ForbiddenException.java
  membership/src/main/resources/application.yml
Labels: enhancement, membership-server

#42 [#36, #38] feat: 피드 API 수정 요청 사항 반영
  membership/src/main/java/com/devcamp/flametalk/domain/feed/controller/FeedController.java
  membership/src/main/java/com/devcamp/flametalk/domain/feed/dto/FeedDetailResponse.java
  membership/src/main/java/com/devcamp/flametalk/domain/feed/service/FeedService.java
  membership/src/main/java/com/devcamp/flametalk/domain/profile/controller/ProfileController.java
  membership/src/main/java/com/devcamp/flametalk/domain/profile/domain/ProfileRepository.java
  membership/src/main/java/com/devcamp/flametalk/domain/profile/service/ProfileService.java
  membership/src/main/java/com/devcamp/flametalk/global/error/ErrorCode.java
  membership/src/main/java/com/devcamp/flametalk/global/error/GlobalExceptionHandler.java
  membership/src/main/java/com/devcamp/flametalk/global/error/exception/EntityExistsException.java
Labels: enhancement, membership-server

#67 [#64] feat: 프로필 생성 시 sticker에 null이 저장되지 않도록 검증
  membership/src/main/java/com/devcamp/flametalk/domain/profile/dto/ProfileRequest.java
Labels: membership-server

#80 [#45] feat: 친구 API 구현
  membership/src/main/java/com/devcamp/flametalk/domain/friend/controller/FriendController.java
  membership/src/main/java/com/devcamp/flametalk/domain/friend/domain/Friend.java
  membership/src/main/java/com/devcamp/flametalk/domain/friend/domain/FriendRepository.java
  membership/src/main/java/com/devcamp/flametalk/domain/friend/domain/Preview.java
  membership/src/main/java/com/devcamp/flametalk/domain/friend/domain/PreviewConverter.java
  membership/src/main/java/com/devcamp/flametalk/domain/friend/dto/FriendCreateRequest.java
  membership/src/main/java/com/devcamp/flametalk/domain/friend/dto/FriendCreateResponse.java
  membership/src/main/java/com/devcamp/flametalk/domain/friend/dto/FriendResponse.java
  membership/src/main/java/com/devcamp/flametalk/domain/friend/dto/FriendType.java
  membership/src/main/java/com/devcamp/flametalk/domain/friend/dto/FriendUpdateRequest.java
  membership/src/main/java/com/devcamp/flametalk/domain/friend/dto/FriendUpdateResponse.java
  membership/src/main/java/com/devcamp/flametalk/domain/friend/dto/FriendsCreateRequest.java
  membership/src/main/java/com/devcamp/flametalk/domain/friend/service/FriendService.java
  membership/src/main/java/com/devcamp/flametalk/domain/profile/domain/Profile.java
  membership/src/main/java/com/devcamp/flametalk/domain/profile/domain/ProfileRepository.java
  membership/src/main/java/com/devcamp/flametalk/domain/user/domain/User.java
  membership/src/main/java/com/devcamp/flametalk/domain/user/domain/UserRepository.java
  membership/src/main/java/com/devcamp/flametalk/global/common/CommonResponse.java
  membership/src/main/java/com/devcamp/flametalk/global/common/SingleDataResponse.java
  membership/src/main/java/com/devcamp/flametalk/global/common/Status.java
  membership/src/main/java/com/devcamp/flametalk/global/error/ErrorCode.java
Labels: enhancement, membership-server

#81 [#79] 프로필 업데이트 시 친구에게 보여줄 프로필 Preview 업데이트
  membership/src/main/java/com/devcamp/flametalk/domain/friend/domain/Friend.java
  membership/src/main/java/com/devcamp/flametalk/domain/friend/domain/FriendRepository.java
  membership/src/main/java/com/devcamp/flametalk/domain/friend/service/FriendService.java
  membership/src/main/java/com/devcamp/flametalk/domain/profile/controller/ProfileController.java
  membership/src/main/resources/application.yml
Labels: enhancement, membership-server

#86 [#77] docs: 코드 리뷰 가이드 작성
  .idea/.gitignore
  .idea/FlameTalk_Server.iml
  .idea/checkstyle-idea.xml
  .idea/modules.xml
  .idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
  .idea/sonarlint/issuestore/index.pb
  .idea/vcs.xml
  README.md
  code-review-guide.md
Labels: documentation

#87 [#52] feat: Chatroom 서버 API gateway 적용
  chatroom/.gitignore
  chatroom/build.gradle
  chatroom/gradle/wrapper/gradle-wrapper.jar
  chatroom/gradle/wrapper/gradle-wrapper.properties
  chatroom/gradlew
  chatroom/gradlew.bat
  chatroom/settings.gradle
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/ChatroomApplication.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/controller/ChatRoomController.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/domain/Chatroom.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/domain/ChatroomRepository.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/domain/UserChatroom.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/domain/UserChatroomRepository.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/ChatroomCreateRequest.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/ChatroomCreateResponse.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/ChatroomFilesResponse.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/ChatroomsResponse.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/JoinChatroomRequest.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/JoinChatroomResponse.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/ProfileSimpleResponse.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/ResponseType.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/UserChatroomCloseRequest.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/UserChatroomCreateRequest.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/UserChatroomDetailResponse.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/UserChatroomResponse.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/UserChatroomSimpleResponse.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/UserChatroomUpdateRequest.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/service/ChatroomService.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/file/domain/File.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/file/domain/FileRepository.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/friend/domain/Friend.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/friend/domain/FriendRepository.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/model/BaseTime.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/profile/domain/Profile.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/profile/domain/ProfileRepository.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/profile/domain/Sticker.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/profile/domain/StickerConverter.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/user/domain/User.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/user/domain/UserRepository.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/global/common/CommonResponse.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/global/common/SingleDataResponse.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/global/common/Status.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/global/error/ErrorCode.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/global/error/ErrorResponse.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/global/error/GlobalExceptionHandler.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/global/error/exception/ConflictException.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/global/error/exception/CustomException.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/global/error/exception/EntityNotFoundException.java
  chatroom/src/main/resources/application.yml
  chatroom/src/main/resources/schema.sql
  chatroom/src/test/java/com/devcamp/flametalk/chatroom/ChatroomApplicationTests.java
Labels: enhancement, chatroom-server

#92 [#90] chore: 채팅 서비스 API Gateway 적용
  chat/build.gradle
  chat/src/main/java/com/devcamp/flametalk/ChatApplication.java
  chat/src/main/resources/application.yml
  infra/gateway/src/main/resources/application.yml
  presence/build.gradle
  presence/src/main/java/com/devcamp/flametalk/presence/PresenceApplication.java
  presence/src/main/resources/application.yml
Labels: gateway-server, chat-server, presence-server

#89 [#88] feat: 오픈 프로필 조회 api의 RequestHeader name 설정
  membership/src/main/java/com/devcamp/flametalk/domain/openprofile/controller/OpenProfileController.java
Labels: bug, enhancement, membership-server

#100 [#57] feat: 10MB 초과되는 파일 생성 시 오류 처리
  file/src/main/java/com/devcamp/flametalk/domain/FileResponseMessage.java
  file/src/main/java/com/devcamp/flametalk/dto/CommonResponse.java
  file/src/main/java/com/devcamp/flametalk/error/GlobalExceptionHandler.java
  file/src/main/resources/application.yml
Labels: enhancement, membership-server

#103 [#101] fix: 채팅 서버에서 FCM 서버 호출 관련 버그 해결
  .github/ISSUE_TEMPLATE/-feature.md
  auth/gradlew
  auth/src/main/resources/application.yml
  chat/gradlew
  chat/src/main/java/com/devcamp/flametalk/config/RestTemplateConfig.java
  chat/src/main/java/com/devcamp/flametalk/dto/PushMessageRequest.java
  chat/src/main/java/com/devcamp/flametalk/service/Receiver.java
  chat/src/main/resources/application.yml
  chatroom/gradlew
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/controller/ChatRoomController.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/domain/UserChatroomRepository.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/service/ChatroomService.java
  fcmserver/.gitignore
  fcmserver/HELP.md
  fcmserver/mvnw
  fcmserver/mvnw.cmd
  fcmserver/pom.xml
  fcmserver/src/main/java/com/example/fcmserver/FcmserverApplication.java
  fcmserver/src/main/java/com/example/fcmserver/controller/NotificationController.java
  fcmserver/src/main/java/com/example/fcmserver/domain/Device.java
  fcmserver/src/main/java/com/example/fcmserver/domain/DeviceRepository.java
  fcmserver/src/main/java/com/example/fcmserver/dto/PushMessageRequest.java
  fcmserver/src/main/java/com/example/fcmserver/service/AndroidPushNotifications.java
  fcmserver/src/main/java/com/example/fcmserver/service/AndroidPushNotificationsService.java
  fcmserver/src/main/java/com/example/fcmserver/service/HeaderRequestInterceptor.java
  fcmserver/src/main/resources/application.properties
  fcmserver/src/main/resources/application.yml
  fcmserver/src/test/java/com/example/fcmserver/FcmserverApplicationTests.java
  file/gradlew
  file/src/main/resources/application.yml
  infra/eureka/gradlew
  infra/gateway/build/classes/java/main/com/devcamp/flametalk/gateway/filter/AddRequestHeaderFilter.class
  infra/gateway/build/resources/main/application.yml
  infra/gateway/build/tmp/compileJava/previous-compilation-data.bin
  infra/gateway/gradlew
  infra/gateway/src/main/resources/application.yml
  membership/gradlew
  presence/gradlew
  presence/src/main/java/com/devcamp/flametalk/presence/controller/PresenceController.java
  presence/src/main/java/com/devcamp/flametalk/presence/service/PresenceService.java
Labels: enhancement, chat-server, fcm-server

#104 [#91] feat: 채팅방 생성 시 타이틀과 썸네일에 개설자 유저 데이터가 반환되지 않도록 변경
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/service/ChatroomService.java
Labels: enhancement, chatroom-server

#105 [#97] feat: 기존 채팅방 입장 시 lastReadMessage 추가 요청 및 반환
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/JoinChatroomRequest.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/JoinChatroomResponse.java
Labels: enhancement, chatroom-server

#106 [#98] refactor: 채팅방에서 업로드된 파일을 조회하는 api 파일 서버로 변경
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/controller/ChatRoomController.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/dto/ResponseType.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/service/ChatroomService.java
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/file/domain/FileRepository.java
  file/src/main/java/com/devcamp/flametalk/controller/FileController.java
  file/src/main/java/com/devcamp/flametalk/domain/FileRepository.java
  file/src/main/java/com/devcamp/flametalk/domain/FileResponseMessage.java
  file/src/main/java/com/devcamp/flametalk/dto/ChatroomFilesResponse.java
  file/src/main/java/com/devcamp/flametalk/service/FileService.java
Labels: file-server, chatroom-server

#110 [#109] fix: 채팅방 조회 실패 이슈 해결
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/file/domain/File.java
Labels: bug, chatroom-server

#112 [#111] fix: 채팅방서버에서 채팅방으로 응답시 ResponseEntity 로 감싸기
  chatroom/src/main/java/com/devcamp/flametalk/chatroom/domain/chatroom/controller/ChatRoomController.java
Labels: chatroom-server

#114 [#113] refactor: 스티커 x,y 좌표값의 변수명 변경
  membership/src/main/java/com/devcamp/flametalk/domain/profile/domain/Sticker.java
Labels: bug, membership-server

#115 [#107] docs: README.md 수정
  README.md
Labels: documentation
